@(webSocketUrl: String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @webJarsUtil.locate("bootstrap.min.css").css()

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <title>Welcome to Play Chat Room</title>
    </head>

    <body>
        <div class="wrap">
            <div class="container-fluid">
                <div>
                    <h1 class="text-center">Welcome to Play Chat Room!</h1>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="messages" class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="d-flex w-100">
                        <input autofocus autocomplete="off" spellcheck="false" autocorrect="off" id="message" class="form-control input-lg me-2" type="text" placeholder="type here..." aria-label="message">
                        <button id="send" class="btn btn-outline-success btn-lg" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </nav>

        @webJarsUtil.locate("jquery.min.js").script()
        @webJarsUtil.locate("jquery.flot.min.js").script()
        <script type='text/javascript' src='@routes.Assets.at("javascripts/modernizr-3.5.0.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/app.js")' data-url='@webSocketUrl'></script>
    </body>

</html>